:root{
  --primary: #675BC8;
}

* {
  padding: 0;
  margin: 0;
}

svg{
  width: 30px;
}

a{
  color: var(--primary);
  text-decoration: none;
}

.btn{
  padding: 1rem;
  border: 0.1rem solid var(--primary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}